html {
  font-size: 100%;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
  text-align: center;
  overflow-x: hidden;
  background-color: #d4d2d1;
}

.parks {
  margin-bottom: 3em;
}

table.park {
  background-color: cadetblue;
  margin: 0 auto;
  padding: 0 1em;
}

table.park th {
  padding: 0 1em;
}

.navbar {
  /* border-bottom: 1px solid black; */
  text-align: right;
  padding: 1em 0;

}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 0.7em;
  border: 1px solid rgb(82, 80, 80);
  margin: 0 0.3em;
}



.navbar a:hover {
  background-color: #e4dfdc;
  /* color: white; */
}

.navbar a.off {
  padding: 0.7em 1.3em;
  margin-left: 1.3em;
  background-color: #FD7038;
  color: white;
}

.navbar a.off:hover {
  background-color: rgb(36, 33, 33);
  color: white;
}

.input {
  display: block;
  margin: 2em auto;
  background-color: white;
  padding: 1em;
}

.Btn {
  /* margin-top: 1em; */
  background-color: #fcab8c;
  padding: 1em;
  border: 1px solid rgb(94, 94, 94);
  cursor: pointer;
  color: black;
}

.Btn:hover {
  background-color: #FD7038;
  color: white;
}


.map {
  margin: 0 auto;
  width: 85%;
  min-height: 580px;
  border: 1px solid black;
}

.popup {
  text-decoration: none;
}


.container_city {
  padding-top: 7em;

}

h3 {
  font-style: italic;
}

.cities a {
  width: 30%;
  display: block;
  text-decoration: none;
  color: black;
  padding: 1em 0;
  margin: 1.5em auto;
  font-size: 22px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #dfdbd9;

}

.cities a:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(36, 33, 33);
  color: white;

}

.cities_body {
  width: 100%;
  margin: auto 0;
}
