body {
    background-color: $background-color-body;
    color: $color-body;
    box-sizing: border-box;
    padding: 1em 1em 4em;
    height: 100vh;

    .container {
        height: 100%;
    }

    button {
        box-sizing: border-box;
        width: 100%;
        margin: 0.5em 0;
        padding: 0.5em;
        width: 100%;
        background-color: $background-color-btn;
        color: $color-btn;
    }
}
