.nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-nav-bar;
    background-color: $background-color-nav-bar;
    height: 7vh;

    a {
        text-decoration: none;
        color: $color-nav-bar;
        width: (100% / $nav-objects);
    }

    .active {
        color: $color-nav-bar-active;
    }
}
