// z-indexes
$z-nav-bar: 2;
$z-battery-percenteage-div: 1;
$z-battery-percenteage-text: 2;

//
$background-color-body: #e7e7e7;
$color-body: #2a2a2a;
$background-color-nav-bar: #423e3e;
$color-nav-bar: #cac9cf;
$color-nav-bar-active: #ff5642;
$color-scooter-info-border: #303030;
$color-battery-max: #22c900;
$color-battery-high: #199100;
$color-battery-middle: #89a400;
$color-battery-low: #c38100;
$color-battery-critical: #c93600;
$color-battery-min: #d60000;
