html {
  font-size: 100%;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
  text-align: center;
  overflow-x: hidden;
  background-color: #d4d2d1;
}

.container {
  padding-bottom: 4px;
}

.parks {
  margin-bottom: 3em;
}

h4 {
  font-weight: 100px;
}

table.park {
  margin: 0 auto;
  padding: 1em 4em;
  border-spacing: 0px;
  
}

table.park thead {
  background-color: cadetblue;
}

table.park tbody {
  padding: 1em 4em;
}

table.park a {
  color: rgb(36, 33, 33);
  font-weight: bold;
  text-decoration: none;
}

table.park a:hover {
  color: #FD7038;
}

table.park th {
  padding: 0.5em 2.5em;
  margin: 1em;
}

td {
  margin: 0.5em;
  border-spacing: 5em;
}

h2 {
  color: rgb(43, 112, 114);
}

.navbar {
  /* border-bottom: 1px solid black; */
  text-align: right;
  padding: 1em 0;

}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 0.7em;
  border: 1px solid rgb(82, 80, 80);
  margin: 0 0.3em;
}



.navbar a:hover {
  background-color: #e4dfdc;
  /* color: white; */
}

.navbar a.off {
  padding: 0.7em 1.3em;
  margin-left: 1.3em;
  background-color: #FD7038;
  color: white;
}

.navbar a.user {
  display: flex;
  position: absolute;
  left: 0;
  top: 0.8em;
  width: fit-content;
  border: 1px solid rgba(82, 80, 80, 0);
  cursor: unset;
  font-weight: bold;
}

.navbar a.user:hover {
  background-color: transparent;
}



.navbar a.off:hover {
  background-color: rgb(36, 33, 33);
  color: white;
}


.sign-in a{
  border: 1px solid rgb(36, 33, 33);
  border-radius: 4px;
  padding: 1em 2em;
  margin: 0 auto;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 112, 114);

}

.admin {
  font-size: 14px;
  font-style: italic;
}

.start {
  margin: 8em;
}

.sign-in i {
  margin-right: 1em;
}

.sign-in a:hover {
  background-color: #b9b4b2;
}

.fab {
  padding-top: 1em;
  font-size: 24px;
  display: flex;
  margin: auto 0;
}


.input {
  display: block;
  margin: 2em auto;
  background-color: white;
  padding: 1em;
}

.Btn {
  /* margin-top: 1em; */
  background-color: #FD7038;
  padding: 1em;
  border: 1px solid rgb(94, 94, 94);
  cursor: pointer;
  color: white;
}

.Btn:hover {
  background-color: #ff9f7a;
  color: white;
}


.map {
  margin: 0 auto;
  width: 85%;
  min-height: 580px;
  border: 1px solid black;
  margin-bottom: 4em;

}

.popup {
  text-decoration: none;
}


.container_city {
  padding-top: 7em;

}

h3 {
  font-style: italic;
}

.cities a {
  width: 30%;
  display: block;
  text-decoration: none;
  color: black;
  padding: 1em 0;
  margin: 1.5em auto;
  font-size: 22px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #dfdbd9;

}

.cities a:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(36, 33, 33);
  color: white;

}

.cities_body {
  width: 100%;
  margin: auto 0;
}

.mapinfo {
  font-size: 12px;
  font-style: italic;
  text-align: left;
  margin-left: 8%;
}


.leaflet-marker-icon,
.leaflet-marker-shadow {
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}
